<!doctype html>

<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

</head>

<body>
    <p>HOLA</p>

<!--    <script>-->
<!--        function test() {-->
<!--            alert("si");-->
<!--        }-->

<!--        function load_adutorias() {-->
<!--            $.get('api/ajax_auditoria', -->
<!--                { ente: document.getElementById('ente').value,-->
<!--                  ejercicio: document.getElementById('ente').value,-->
<!--                -->
<!--                }, function(data) {-->
<!--                    console.log(data);-->
<!--                    $("#auditoria").html(data);-->
<!--                    $('#auditoria').selectpicker('refresh');-->
<!--                });-->
<!--        }-->

<!--        $(document).ready(function() {-->
<!--            $('#ente').on('change', function() {-->
<!--                test();-->
<!--            })-->
<!--            $('#ejercicio').on('change', function() {-->
<!--                test();-->
<!--            })-->
<!--        });-->
<!--    </script>-->

</body>

</html>
